.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}
.navbar {
    position: absolute !important;
    display: flex;
    flex-wrap: wrap;
    height: 49px;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 100%;
    background: currentColor;
}
.navLinks{
    position: fixed;
    right: 40px;
}
